.label {
  position: absolute;
  display:inline-block;
  max-width: 250px;
  min-height: 1.5em;
  padding: 10px;
  background: #FFFFFF;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  border: #5b5b5b solid 3px;
  left:40px;
}

.label:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 12px 25px 12px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  left: -25px;
  top: 10px;
}

.label:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 14px 27px 14px 0;
  border-color: transparent #5b5b5b;
  display: block;
  width: 0;
  left: -30px;
  top: 8px;
}