<div class="apidocs">
    <div id="docs-main" class="content">
        <a name="welcome"><h1>xeogl API Documentation</h1></a>

        <p style="font-style:italic;">An open source engine for Web-based 3D visualization</p>

        <h4>What's inside</h4>

        <p>This documentation is for:</p>
        <ul>
            <li>the core components of the xeogl API, and</li>
            <li>selected custom components from the xeogl <a href="http://xeogl.org/examples/">examples</a>
                that are considered polished enough to be used in production.
            </li>
        </ul>

        <p>Note that anything not documented here should not be considered part of xeogl's public
            API.</p>

        <p>If you find anything in here that's broken or unclear, please let us know via the <a
                href="https://github.com/xeolabs/xeogl/issues">issue tracker</a>.</p>

        <h4>Other useful links</h4>

        <ul>
            <li><a href="http://xeogl.org/index.html#introduction">Introduction</a></li>
            <li><a href="http://xeogl.org/examples/">Examples</a></li>
            <li><a href="https://github.com/xeolabs/xeogl/wiki">Wiki</a></li>
            <li><a href="https://github.com/xeolabs/xeogl/issues">Issues</a></li>
            <li><a href="https://github.com/xeolabs/xeogl">Sourcecode</a></li>
        </ul>

    </div>
</div>


